<div class="container">
  <h1>
    Search List
  </h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let searchResult of searchResults">
      <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
        <mat-panel-title>
          {{searchResult.query}}
        </mat-panel-title>
        <mat-panel-description>
          <ul>
            <li *ngIf="!!searchResult.language">Language: {{ searchResult.language }}</li>
            <li *ngIf="!!searchResult.topic">Topic: {{ searchResult.topic }}</li>
            <li>Date: {{ searchResult.date }}</li>
          </ul>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-repo-list [Repos]="searchResult.repos"></app-repo-list>
    </mat-expansion-panel>
  </mat-accordion>


</div>