<ng-container *ngFor="let repo of Repos">
  <mat-list-item class="repo-item">
    <h4 mat-line>{{repo.name}}</h4>
    <p mat-line *ngIf="!!repo.language">
      <button class="language" mat-flat-button [style.background-color]="repo.language.color">{{repo.language.name}}
      </button>
    </p>
    <p mat-line [innerHTML]="repo.description"></p>
    <p mat-line>
      <mat-chip-list>
        <mat-chip *ngFor="let topic of repo.topics">{{ topic.name }}</mat-chip>
      </mat-chip-list>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
</ng-container>