.search-field 
    width: 800px;
    margin-right: 40px;
    
.container
    margin: auto;
    width: 1200px;

    .pagination
        text-align: right;
        div
            display: inline-block;
            margin: 5px;
            padding: 5px;
            cursor: pointer;
            border: solid 1px lightgray;
            height: 20px;
            width: 20px;
            text-align: center;