<div class="container">
  <div class="example-container">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search" [(ngModel)]="query">
    </mat-form-field>

    <mat-form-field class="search-field">
      <input matInput placeholder="Language" [(ngModel)]="language">
    </mat-form-field>

    <mat-form-field class="search-field">
      <input matInput placeholder="Topic" [(ngModel)]="topic">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="search()">Search</button>

  </div>

  <mat-list *ngIf="showResult">
    <h3 mat-subheader>Repository</h3>
    <div class="pagination">
      <div (click)="prev()">&#60;</div>
      <div (click)="next()">&#62;</div>
    </div>
      <app-repo-list [Repos]="repos"></app-repo-list>
  </mat-list>
</div>